button {
    all: unset;
    font-weight: 500;
    color: var(--text-highlight);
    padding: 1rem .75rem;
    border-radius: .5rem;
    cursor: pointer;
    margin-bottom: 1rem; 
    text-align: center;

    &.btn-primary {
        color: white;
        background-color: #E43A12;

        &:hover, &:focus {
            background-color: var(--brand-mid);
        }
    }

    &.btn-secondary {
        margin-left: auto;
        border: 1px solid var(--text-highlight);

        &:hover, &:focus {
            color: var(--brand-dark);
            outline: .25rem solid var(--surface-secondary);
        }
    }
}

@media (width >= 80em) {
    button {
        padding: .75rem 1rem;
    }
}